@import "tailwindcss";

@theme {
  --color-primary: #eff3f7;
  --color-secondary: #ffffff;
  --color-accent: #FF416C;
  --color-button: #FF4B2B;
  

  --color-text-primary: #000000;
  --color-text-secondary: #ffffff;
  --color-text-accent: #BCBCBC;

  --font-sans: 'Montserrat', sans-serif;
}